[Desktop Entry]
Version=1.0
Name=Microsoft Teams - Chromium
Comment=Microsoft Teams for Linux is your chat-centered workspace in Office 365.
GenericName=Teams chat app
GenericName[en_GB]=Chat app
Exec=chromium -enable-features=UseOzonePlatform -ozone-platform=wayland -app=https://teams.microsoft.com
StartupNotify=true
StartupWMClass=Microsoft Teams - Chromium
Terminal=false
Icon=teams
Type=Application
Categories=Network;
X-GNOME-UsesNotifications=true;